html {
    background-color: #F7F7F7;
    font-family: 'Inter';
}

body {
    margin: 0 auto;
}

main {
    margin: 0 auto;
    padding: 19px 32px;
    width: 100vh;
    height: 100vh;
    background-color: white;
}

.container {
    width: 100vh;
    margin: 0 auto;
}